{% extends 'glowny.html' %}
{% load bootstrap %}
{% block tytul %} Filmform {% endblock %}

{% block strona %}
<div class="card" style="width: 32rem; float: left; margin-right: 1rem">
  <div class="card-body">
    <h5 class="card-title">Film form</h5>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|bootstrap }}
    {{ form_dodatkowe|bootstrap }}
        {% if nowy %}
        <button type="submit">Dodaj film</button>
        {% else %}
        <button type="submit">Edytuj film</button>
        {% endif %}
</form>
  </div>
</div>

<div class="card" style="width: 32rem; float: left; margin-right: 1rem">
  <div class="card-body">
    <h5 class="card-title">Oceń film</h5>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form_ocena|bootstrap }}
        <button type="submit">Oceń</button>    
    </form>
  </div>
</div>

{% for ocena in oceny %}
  <h4>Gwiazdki: {{ocena.gwiazdki}}</h4>
  <p>{{ocena.recenzja}}</p>
{% endfor %}
<a href="{% url 'wszystkie_filmy' %}">Cofnij</a>

{% endblock %}